
.contener{
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.cz{
    background-color: beige;
     padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;

}
.zz{
    background-color: blueviolet;
     padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 40px;
    border:30px solid blue;
    border-radius: 50px; 
}
.box{
    background-color: beige;
    height: 280px;
    width:250px ;
    box-shadow: 4px 5px 8px 20px blue;

}

/*border or text ke bich mai space deta hai
border 30 margin solid type and colore dotted ,duble,solid
box shado x a