


.home{

    background-color: aqua;
 
     padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 40px;
    border:30px solid rgb(179, 255, 0);
    border-radius: 50px; 
}

button{

     border:2px solid rgb(0, 255, 60);
     border-radius: 40px;
}

.parents{
    display: flex;
    justify-content: space-around;
}
    
/* justice content row to colom space between