
.contener{
    display: flex;
    border:solid;
}
.home{


    background-color: antiquewhite;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
    
}


.photo{
    justify-content: right;
    
}

.ghost{
    font-size: 50px;
}

