/*.container{
    background-image: url(image.png);
    height: 100vh;
    background-repeat: no-repeat ;
    background-size: cover;
}*/

.container{
    background-image: url(image.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;


}
h1{
    color: brown;
}

button{
    color: yellow;
}



/* vh view port hight