
.contener{
    border: solid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding :  20px ;
    margin: 10px ;
    

}
div{
    margin-left: 10px;
    padding :  20px ;
    border: solid 1px;
}
.home2{
    padding :  20px ;
    background-color: pink;
}
button{
    background-color: yellow;
    color: brown;
}
.youtube{
    color: blue;
    height: 20px;
    width: 20px;
}