.main{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
   
    position: sticky;
    top: 0;
}
.ch1{
    position: relative;
    left: -20px;
    top: 20px;
}
.box{
    height: 400px;
    background-color: beige;
    margin: 100px;

}
.box1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    top: 30px;
    border: 2px solid black;

}
.watch{
    position: fixed;
    left: 80px;
}