.navbar{
    background-color:yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.navbar label{
    display: none;
}
#click:checked~.navbar{
    display: block;
}
@media screen and (max-width:650px){
    .navbar lable{
    display: none;}

    .navbar ul{
        display: none;
        position: absolute;
        top: 100px;
        background-color: lightblue;
        width: 100%;
     }

.navbar ul li{
    padding: 10px;
}    
}
      





