.grid{
    background-color: aquamarine;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px;
}
.grid div{
    background-color: yellow;
    border: 2px solid black;
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.ch2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.ch5{
    grid-column-start: 2;
    grid-column-end: 4;
}
.ch6{
    grid-column-start: 1;
    grid-column-end: 4;
}