.grid{
    background-color: red;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 100px;
}

.grid div{
    background-color: yellow;
    border: 2px solid black;
}
.ch1{
    grid-row-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 1;
    grid-row-end: 3;
}