
body{
    background-color: rgb(234, 232, 231);
    
}
.nav{
  
    background-color:  rgba(5, 168, 238, 0.911);
    border: solid 1px white;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: sticky;
    width: 100%;
    top: 0;
   
    
     
}
.nav ul{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 10px;

}
.hero{
    border: solid 1px rgb(247, 246, 246);
    flex-wrap:wrap;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
   
       
}

.hero2{
   
    border: solid 1px rgb(254, 252, 252);
    display: flex;
    justify-content: center;
    gap: 30px;
   
   
}


.hero h4{
    display: flex;
    align-items:end;
    margin-left: 10px;
   
    
}
.Biscuit{
    border: solid 2px black;
    display: flex;
   
}
img{
    border: 1px solid rgb(253, 250, 250);
    width: 200px;
    height: 200px;
    justify-content: space-around;
    
   
}
.Chocolates{
    display: flex;
}

.search{
    height: 50px;
    width: 400px;
    margin-top: 15px;
    background-color: rgb(212, 210, 230) ;
    border: 1px solid silver;
    
    
}

.icone{
    margin-top: 20px;
    height: 30px;
    width: 30px;
    font-size: 40px;
   
}

.text{
    font-style: italic ;
    font: bold;
    background: linear-gradient(to right,rgb(5, 5, 230) , rgb(225, 11, 11),rgb(14, 216, 14) ,rgb(242, 163, 15),yellow );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icone2{
    color: blue;
    
    
}
.name{
    color:black;
}
.bb{
    color: brown;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
    
}


.had{
    display: flex;
    justify-content: space-between;
}
.side{
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    color: red;
}
.footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(11, 12, 12);
    color:  rgba(233, 224, 234, 0.865);
   
    

}
.footer2{
    text-align: center;
    border-top: 1px solid white;
    background-color:  rgb(11, 12, 12);
    color: rgba(233, 224, 234, 0.848);
}

.truck{
     font-size: 30px;
}

@media screen and (max-width:450px) {
    .hero{
        display:;
    }
    
}

