
.nav{
  
    background-color: ghostwhite;
    border: solid 2px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: fixed;
    width: 100%;
   
    
     
}
.nav ui{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}
.hero{
    border: solid 2px black;
    display: flex;
    margin-top: 50px;
   
}
.hero h4{
    display: flex;
    align-items:end;
    margin-left: 10px;
   
    
}
.Biscuit{
    border: solid 2px black;
    display: flex;
   
}
img{
    border: 2px solid black;
    width: 200px;
    height: 200px;
   
}
.Chocolates{
    display: flex;
}