
@media screen and (max-width:900px) {
    body{
        background-color: blueviolet;
    }
    
}

@media screen and (min-width:450px) {
    body{
        background-color: red;
    }
    
} 

@media screen and (mix-width:450px) and (max-width:700px) {
    body{
        background-color:azure;
    }
    
} 